:root {
  --color-font1: #5f04aa;
  --color-font2: #110e09;
  --color-font3: #f5f5f0;
  --color-bg-light1: #ffffff;
  --color-bg-light2: #f7f7f7;
  --color-bg-dark: #151515;
  --grey: #e0e0e0;
}

@font-face {
  font-family: "font-thin";
  src: url(./assets/Montserrat/static/Montserrat-Thin.ttf);
}

@font-face {
  font-family: "font-medium";
  src: url(./assets/Montserrat/static/Montserrat-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "font-medium";
}

body {
  background: var(--color-bg-light1);
  min-height: 100vh;
  color: var(--color-font2);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

nav li {
  position: relative;
  list-style: none;
  margin: 0 5px;
  padding: 20px 0;
  font-size: 0.3rem;
  font-weight: bold;
  transition: 0.2s;
  justify-content: center;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: scroll;
}

nav li::before {
  content: "";
  background: transparent;
  height: 4px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  transition: 0.4s;
}

nav li:hover {
  color: var(--color-font1);
  cursor: pointer;
}

nav li:hover::before {
  background: var(--color-font1);
}

#language {
  background: #e0e0e0;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 5px;
}

#language::before {
  content: "";
  background: transparent;
  height: 0;
}

#language:hover {
  cursor: pointer;
  scale: 1.1;
  color: var(--color-font3);
}

header {
  background: url(./assets/img/bg.jpg) center/cover fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.header-main-image {
  margin: 25px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: var(--color-font3);
  font-size: 1.5rem;
  margin: 25px;
}

button.gc-video {
  display: block;
  margin: 25px auto;
  background: transparent;
  color: var(--color-font3);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 10px 20px;
  border: var(--color-font3) solid 1px;
  transition: 0.4s;
}

button.gc-video:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.359);
}

section.description1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  max-width: 50%;
}

section p {
  text-align: center;
}

section.filieres {
  background: var(--color-bg-dark);
  color: var(--color-font3);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.filiere-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 75px 0;
}

.filiere {
  width: 25%;
}

.filiere-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filiere-logo img {
  width: 100%;
}

.filiere h3 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 35px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: scroll;
}

.filiere p {
  text-align: center;
  font-family: "font-thin";
  margin: 10px 0 25px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: scroll;
}

button.savoir-plus {
  display: block;
  margin: 10px auto;
  background: var(--color-bg-dark);
  color: var(--color-font3);
  padding: 10px 20px;
  text-transform: uppercase;
  border: var(--color-font3) solid 1px;
}

button.savoir-plus:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.359);
}

section.news {
  display: block;
  padding: 0 10%;
  align-items: center;
  background: var(--color-bg-light2);
}

.news-title {
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 100px 0 50px;
}

.news-title-left {
  margin-right: 20%;
}

.news-title-left h2 {
  text-transform: uppercase;
  color: var(--color-font2);
  font-family: "font-thin";
}

.news-title-left p {
  text-align: left;
  color: var(--color-font2);
}

.news-title-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-title-right button {
  padding: 10px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: var(--color-bg-light1);
  color: var(--color-font2);
  border: var(--color-font2) solid 1px;
}

.news-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.new {
  width: 22%;
}

.news-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-logo img {
  margin: auto;
  display: block;
  width: 100%;
  border-radius: 3px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.377));
}

.new h4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: scroll;
  margin: 25px auto;
  font-size: 1rem;
}

.new p {
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: scroll;
  min-height: 135px;
  font-size: 0.8rem;
}

.news-link {
  margin: 25px auto;
}

.news-link a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.news-link a:hover {
  text-decoration: underline;
}

footer {
  margin: 100px 0;
  /* padding: 100px auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--color-bg-light1);
}

.bottom-links-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  width: 18%;
  /* max-width: 100px; */
  min-height: 360px;
  display: block;
  margin: 0 auto;
  align-items: center;
}

.list h5 {
  text-transform: uppercase;
  margin: 25px auto;
}

.list ul {
  list-style: none;
}

#logo-gc-footer {
  margin: 50% 0 20%;
  width: 100%;
}

.list li,
.list p,
a.link-1 {
  font-size: 0.7rem;
  padding: 5px 0;
}

.list a {
  text-decoration: none;
  color: var(--color-font1);
}

.list a:hover {
  text-decoration: underline;
}

a.link-2 {
  color: var(--color-font2);
  line-height: 2rem;
}

ul.nous-suivre-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul.nous-suivre-list a {
  color: var(--color-font2);
}

p.copyright {
  margin: 25px auto;
  font-weight: bold;
}

footer::after {
  content: "";
  background: var(--color-bg-light2);
  height: 2px;
  width: 70%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 50px auto;
}

section.media {
  background: var(--color-bg-light1);
  display: grid;
  grid-template-columns: 20% 60%;
  justify-content: space-around;
  align-items: center;
  margin: 25px auto;
}

.media-title h5 {
  text-transform: uppercase;
  margin: 25px 0;
}

.media-title p {
  font-size: 0.7rem;
  text-align: left;
}

.media-container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.media-container li {
  width: 8%;
}
.media-container img {
  width: 100%;
}

section.sponsors {
  display: grid;
  grid-template-rows: 50% 50%;
  background: var(--color-bg-dark);
  align-items: center;
  /* margin: 25px auto 0; */
  /* padding: 25px auto 0; */
  min-height: 150px;
}

.sponsors h3 {
  color: var(--color-font3);
  text-align: center;
  /* padding: 50px auto; */
  text-transform: uppercase;
  font-size: 1rem;
}

.sponsors-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsors-container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.sponsors-container li {
  width: 5%;
  list-style: none;
}

.sponsors-container img {
  width: 100%;
}
